@import '_colors';
@import '_breakpoints';

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 0.5em;
  margin: 1em 0.5em;
  @media screen and (max-width: $break-small) {
    grid-template-columns: 1fr;
  }
}

.home {
  border: 1px solid $sub-color;
}

.sidebar {
  border: 1px solid $sub-color;
}
