@import 'Colors.scss';
@import 'Breakpoints.scss';

@mixin navbar-list() {
  width: '100%';
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: end;
  justify-content: flex-end;
  display: flex;
  @media screen and (max-width: $break-small) {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-row: 2 / 3;
  }
}

.navbar {
  font-size: 1.5em;
  button {
    display: none;
    border: none;
    background-color: $sub-color;
    text-align: center;
    text-decoration: none;
    @media screen and (max-width: $break-small) {
      display: block;
      justify-self: end;
    }
  }
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5em 1fr;
  border-bottom: 1px solid $sub-color;
}

.navlist-collapse {
  transition: height 500ms 0ms;
  overflow: hidden;
  @media screen and (max-width: $break-small) {
    height: 0em;
    grid-row: 2 / 3;
  }
  ul {
    @include navbar-list();
  }
}

.navlist-expand {
  transition: height 500ms 0ms;
  overflow: hidden;
  @media screen and (max-width: $break-small) {
    grid-row: 2 / 3;
    justify-self: start;
    height: 4em;
  }
  ul {
    @include navbar-list();
  }
}

.nav-name {
  margin-left: 0.25em;
  overflow: auto;
}
