@import '_colors';
@import '_breakpoints';

@mixin navbar-list() {
  width: '100%';
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: end;
  justify-content: flex-end;
  display: flex;
  margin-right: 1em;
  @media screen and (max-width: $break-small) {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-row: 2 / 3;
  }
  li {
    margin-right: 0.5em;
    :last-child {
      margin-right: 0;
    }
    :after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: $sub-color;
      transition: width 0.5s ease, background-color 0.5s ease;
    }
    :hover {
      color: $main-color;
    }
    :hover:after {
      width: 100%;
      background: $main-color;
    }
    a {
      text-decoration: none;
      color: $sub-color;
    }
  }
}

.navbar {
  padding: 0.25em;
  font-size: 1.5em;
  clear: both;
  button {
    display: none;
    border: none;
    background-color: $bg-color;
    text-align: center;
    text-decoration: none;
    margin-right: 1em;
    @media screen and (max-width: $break-small) {
      display: block;
      justify-self: end;
    }
  }
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 2.5em 1fr;
  // border-bottom: 1px solid $sub-color;
  @media screen and (max-width: $break-small) {
    grid-template-columns: 3.5fr 1fr;
  }
}

.navlist-collapse {
  transition: height 500ms 0ms;
  overflow: hidden;
  align-self: center;
  @media screen and (max-width: $break-small) {
    height: 0em;
    justify-self: start;
    grid-row: 2 / 3;
  }
  ul {
    @include navbar-list();
  }
}

.navlist-expand {
  transition: height 500ms 0ms;
  overflow: hidden;
  align-self: center;
  @media screen and (max-width: $break-small) {
    grid-row: 2 / 3;
    justify-self: start;
    height: 6em;
  }
  ul {
    @include navbar-list();
  }
}

.nav-name {
  font-family: 'Bungee Shade', cursive;
  grid-row: 1 / 2;
  margin-left: 0.25em;
  height: 2em;
  width: 100%;
  display: block;
  cursor: pointer;
}

.nav-name:hover {
  color: $main-color;
}
