@import '_colors';
@import 'App.css';

.portfolio-container {
  display: grid;
  margin: 1em;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-column-gap: 2em;
  grid-row-gap: 3em;
  grid-auto-rows: 15em;
}

.project-card {
  display: grid;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  background-color: #000;
  .project-card-banner {
    display: grid;
    grid-template-rows: 1.5em 1fr;
    justify-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 1.5em;
    overflow: hidden;
    transition: height 500ms ease;
    font-size: 1.5em;
    background-color: transparentize($color: #333, $amount: 0.1);
    color: $sub-color;
  }
  &:hover {
    .project-card-banner {
      height: 75%;
    }
  }
  .project-card-img {
    height: 15em;
    display: flex;
    // background-color: ;
    img {
      height: 100%;
      max-width: 100%;
      margin: auto;
    }
  }
}

.loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid #222;
  border-top: 16px solid $main-color;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  // opacity: 0.95;
  margin-bottom: 5em;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.portfolio-page-return {
  display: inline-block;
  margin: 1em 0.5em;
  cursor: pointer;
}

.portfolio-page-return:hover {
  color: $main-color;
}

.portfolio-page-container {
  text-align: center;
  img {
    height: 15em;
    border: 3px solid #fff;
  }
}

.portfolio-page-links {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  a {
    &:after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: $sub-color;
      transition: width 0.5s ease, background-color 0.5s ease;
    }
    &:hover {
      color: $main-color;
    }
    &:hover:after {
      width: 100%;
      background: $main-color;
    }
    text-decoration: none;
    color: $sub-color;
  }
}
